/* styles for 320px */
.ul {
    display: none;
}
.box1 span {
    color: #1a89c1;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav {
    padding: 0.2rem;
    border-radius: 3px;
    background-color: rgb(200, 220, 220);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu:hover {
    cursor: pointer;
}
.menuBox {
    display: flex;
}